<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> {{compare}} </h1>

        {% if g > h %}
        <h1> If Block </h1>
            <h1>G is Lesser than H,I</h1>

        
        {% elif h < i %}
        <h1> Elif Block </h1>
            <h1>H is Lesser than I</h1>
        
        
        {% else %}
        <h1> Else Block </h1>
            <h1>G is greater than H,I</h1>

        {% endif %}
    </center>
</body>
</html>